name: Home Assistant Config Check

on:
  push:
  pull_request:

jobs:
  ha_config_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate Home Assistant configuration
        uses: home-assistant/actions/validate@master
        with:
          path: ./
        env:
          TZ: Europe/Rome
